
body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#container {
    display: flex;
    height: 100vh;
}

#calculator {
    width: 70%;
    border-right: 1px solid #0f0;
}

#weather {
    width: 30%;
}
